#contact {
  margin: 8rem auto 0;
}

.contact {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 500px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
}