.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 2.5rem auto;
}

.links {
  /*margin-left: 5rem;*/
}

.links a {
  color: white;
  margin-right: 3rem;
  transition: 200ms border ease-out;
  border-bottom: 1px solid black;
  font-size: 1.1rem;
  font-weight: 500;
}

.links a:last-of-type {
  margin-right: 0;
}

.links a:hover {
  border-bottom: 1px solid white;
}

.logo {
  margin-right: 15%;
}
