.steps-section {
  display: flex;
  width: 100%;
  margin: 5rem auto 0;
  flex-direction: column;
  align-items: center;
}

.steps {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: stretch;
  margin: 1rem 0 2rem;
  /*flex-wrap: wrap;*/
}

.step {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  margin-right: 1rem;
  background-color: var(--background-grey);
  border-radius: 1.3rem;
  padding: 2rem;
  justify-content: center;
  min-height: 20rem;
  transition: 300ms transform ease-out;
}

.step:hover {
  transform: scale(1.01);
}

.step:last-of-type {
  margin-right: 0;
}

.step h2 {
  margin-bottom: 0.6rem;
}

.step p {
  color: var(--light-grey);
  line-height: 1.6;
}

@media only screen and (max-width: 900px) {
  .step {
    width: 47%;
    margin-right: 0;
  }

  .step:first-of-type {
    margin-right: 1rem;
  }

  .step:last-of-type {
    margin-top: 1rem;
  }

  .steps {
    flex-wrap: wrap;
    justify-content: center;
  }
}

@media only screen and (max-width: 500px) {
  .steps {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .steps-section {
    text-align: center;
  }

  .steps-section h1 {
    max-width: 60%;
  }

  .step {
    width: 100%;
    margin: 0;
  }

  .step:first-of-type {
    margin-right: 0;
  }

  .step:last-of-type {
    margin-top: 0;
  }
}
