:root {
  --green: #27FA05;
  --background-grey: #070707;
  --white: #FFF;
  --light-grey: #979797, 100%;
  --black: #000000;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%
}

body {
  max-width: 1200px;
  background: black;
  margin: 0 auto;
}

/*BUTTONS*/

.button {
  padding: 1rem 1.3rem;
  border-radius: 90px;
}

.primary {
  background-color: var(--green);
}